.link-link {
  width: 100%;
  height: 596px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #f16323;
}
@media(max-width: 767px) {
  .link-link {
    height: 912px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0px;
  }
}
