.profile-profile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.profile-image {
  width: 200px;
  padding: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.profile-text {
  color: #ffffff;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 900;
}
@media(max-width: 767px) {
  .profile-profile {
    width: 484px;
    height: 179px;
  }
}
